.contents-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    line-height: 3rem;
    background-color: cornflowerblue;
}

.contents-box {
    padding: 15px;
    width: 29%;
    height: 44rem;
    background-color: #f0f0f0;
    margin-top: 10px;
}

.contents-box img {
    display: block;
    width: 90%;
    margin: auto;
    height: auto;
}

.contents-box h2 {
    margin-bottom: 2rem;
    font-size: 2.2rem;
    text-align: center;
}

@media screen and (max-width: 768px){
    .contents-wrap {
        flex-direction: column;
    }

    .contents-box {
        width: 100%;
    }
}