.media {
    display:-webkit-flex;/*--- safari（PC）用 ---*/
    display:flex;
    -webkit-justify-content:flex-start;/*--- safari（PC）用 ---*/
    justify-content:space-around;
}
.media__summary {
    overflow: hidden;
    display: flex;
    -webkit-box-pack: end;
    flex-flow: column;
    justify-content:space-around;
}
.media__heading {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.media__text {
    font-size: 20px;
    color: #fafafa;
}